numpy==1.23.5
TA_Lib==0.4.32
pandas==2.2.2
numba==0.56.4
tables
matplotlib
psycopg2-binary
scikit-learn
lightgbm
xgboost
ib_insync
backtrader
bs4
peewee
adjustText
xlrd
ffn
pyfolio
quantstats
riskfolio_lib
black_box
statsmodels
shap
yfinance
scipy
requests
pandas_market_calendars==2.0
pandas_datareader
graphviz
pandas_profiling
tqdm
featurewiz
pytz
tabulate
joblib
fracdiff
pyyamL
lxml
cssselect
xverse
pykalman
vectorbt
kaleido
dataframe_image
chart-studio
metastock2pd
mplfinance
rich
seaborn
