numpy==1.23.5
TA_Lib==0.4.28
pandas==1.5.3
numba==0.56.4
#seaborn==0.11.1
#ipython==7.26.0
tables

matplotlib==3.3.3
psycopg2-binary
mlflow==1.4.0
scikit-learn
lightgbm
#lightgbm==3.2.1
xgboost
fastai
IBPy2
ib_insync
backtrader2
bs4
peewee
adjustText
xlrd
ffn
pyfolio
quantstats
#riskfolio-lib==0.1.5.1
riskfolio_lib==3.3.0
#black_box==1.0.2
black_box
#statsmodels==0.12.1
statsmodels
#shap==0.39.0
shap
#yfinance==0.1.63
yfinance
#scipy==1.6.0
scipy
#requests==2.25.1
requests
pandas_market_calendars==2.0
#pandas_datareader==0.9.0
pandas_datareader
#graphviz==0.16
graphviz
#pandas_profiling==3.0.0
pandas_profiling
tqdm
#featurewiz==0.0.42
featurewiz
#pytz==2021.1
pytz
tabulate
#joblib==1.0.0
joblib
#fracdiff==0.5.1
fracdiff
#PyYAML==5.4.1
pyyamL
#Twisted==21.7.0
lxml
cssselect
xverse
pykalman
vectorbt
kaleido
dataframe_image
chart-studio
