pandas==2.2.3
numpy==2.1.3
matplotlib
plotly==5.24.1
seaborn
riskfolio-lib==4.4.2
cvxpy[ecos]
vectorbt
backtrader2
pandas_market_calendars
pandas_datareader
yfinance
metastock2pd
TA_Lib
humanize
websocket
tables
kaleido
git+https://github.com/ultra1971/mt5linux.git 
psycopg2-binary
scikit-learn
lightgbm
xgboost
ib_insync
bs4
peewee
adjustText
xlrd
ffn
quantstats
black_box
statsmodels
shap
scipy
graphviz
pandas_profiling
tqdm
pytz
tabulate
joblib
pyyamL
lxml
cssselect
xverse
pykalman
dataframe_image
chart-studio
metastock2pd
mplfinance
rich
