numpy==1.23.5
pandas==2.2.2
psycopg2-binary
scikit-learn
backtrader2
ib_insync
bs4
peewee
adjustText
xlrd
ffn
pyfolio
quantstats
riskfolio_lib==4.4.2
black_box
statsmodels
yfinance
scipy
requests
pandas_market_calendars
pandas_datareader
graphviz
pandas_profiling
tqdm
featurewiz
ib_insync
pytz
tabulate
joblib
ccxt
fracdiff
ibapi
PyYAML
xverse
chart-studio
