#numpy==1.19.2
#TA_Lib==0.4.20
#pandas==1.1.2
#seaborn==0.11.1
#ipython==7.26.0

matplotlib==3.3.3
psycopg2-binary
mlflow==1.4.0
#sklearn
scikit_learn==0.24.2
#lightgbm
lightgbm==3.2.1
xgboost
#IBPy2
#ib_insync
backtrader2
#backtrader==1.9.76.123
#bs4
beautifulsoup4==4.9.3
#peewee
peewee==3.14.0
#adjustText
adjustText==0.7.3
#xlrd
#ffn
ffn==0.3.4
pyfolio
quantstats
riskfolio-lib
#riskfolio-lib==0.1.5.1
black_box==1.0.2
statsmodels==0.12.1
shap==0.39.0
yfinance==0.1.63
scipy==1.6.0
requests==2.25.1
pandas_market_calendars==2.0
pandas_datareader==0.9.0
graphviz==0.16
pandas_profiling==3.0.0
tqdm==4.59.0
featurewiz==0.0.42
ib_insync==0.9.65
pytz==2021.1
tabulate==0.8.7
joblib==1.0.0
#airflow==0.6
ccxt==1.55.9
fracdiff==0.5.1
ibapi==9.81.1.post1
PyYAML==5.4.1
#Twisted==21.7.0
#v20==3.0.25.0
xverse



