psycopg2-binary
mlflow
scikit-learn
xgboost
IBPy2
backtrader2
ib_insync
bs4
peewee
adjustText
xlrd
ffn
pyfolio
quantstats
riskfolio_lib==3.3.0
black_box
statsmodels
shap
yfinance
scipy
requests
pandas_market_calendars
pandas_datareader
graphviz
pandas_profiling
tqdm
featurewiz
ib_insync
pytz
tabulate
joblib
ccxt
fracdiff
ibapi
PyYAML
xverse
chart-studio
